<h1>New Book</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(model: @book, url: books_path) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_field :published_date %>
  </div>

  <div class="field">
    <%= form.label :library_id %>
    <%= form.collection_select :library_id, @libraries, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :reader_card_id %>
    <%= form.collection_select :reader_card_id, @reader_cards, :id, :name_with_library %>
  </div>

  <div class="field">
    <%= form.label :author_ids, 'Authors' %>
    <%= form.collection_check_boxes :author_ids, @authors, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :genre_ids, 'Genres' %>
    <%= form.collection_check_boxes :genre_ids, @genres, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', books_path %>